main {
    max-width: 200px;
    margin: 40px auto;
    padding: 2rem;
    background: linear-gradient(339deg, rgba(255, 0, 0, 1) 0%, rgba(21, 0, 255, 1) 100%);
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    font-family: 'Poppins', sans-serif;
    text-align: center;
    bottom: 20000px;
  }
  
  li {
    list-style: none;
    margin: 15px 0;
    
  }
  
  li a {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    transition: color 0.3s ease, text-decoration 0.3s ease;

  }
  
  li a:hover {
    color: #fcc100;
    text-shadow: 0 0 8px rgb(250, 2, 2);

  }
  
  @media (max-width: 500px) {
    main {
      width: 90%;
      padding: 1.5rem;
    }
  
    li a {
      font-size: 1rem;
    }
  }